@font-face {
    font-family: 'Be-Vietnam';
    src: url(./be-vietnam/BeVietnam-Regular.woff)
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
    background-position-x: 720px;
    background-position-y: -300px;
}

h1,
h2,
h3,
strong {
    font-family: 'Be-Vietnam';
    color: #242D52;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Be-Vietnam';
    color: #aaa;
    font-size: 16px;
}

.btn-get-started {
    width: 110px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Be-Vietnam';
}

.laranja-bg {
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    box-shadow: hsla(12, 65%, 75%, 0.486) 0 7px;
}

.laranja-bg:hover {
    background-color: hsl(13, 98%, 79%);
    color: #fff;
}

.branco-bg {
    background-color: #fff;
    color: hsl(12, 88%, 59%);
}

.navbar {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    padding: 30px 0;
}

nav {
    text-align: center;
}

nav>a {
    font-family: 'Be-Vietnam';
    color: #242D52;
    margin: 0 10px;
    font-weight: 400;
}

nav>a:hover {
    color: #aaa;
}

.intro-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-block {
    padding: 40px;
}

.text-block>h1 {
    font-size: 3.5rem;
    line-height: 60px;
}

.text-block>p {
    font-size: 1rem;
    width: 60%;
    padding: 30px 0;
}

@media screen and ( max-width:375px) {}